.header {
  background: #03045e;
  height: auto;
  width: auto;
}

.h-name {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  color: white;
}

.nav {
  font-size: 20px;
}

.nav-item {
  margin-top: 5px;
}

.header .nav .nav-link.active {
  background-color: #90e0ef;
}
